<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beatwalk">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".song_one"
            android:exported="false"
            android:label="@string/title_activity_song_one"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ExploreActivity" />
        <activity android:name=".PlayActivity" />
        <activity android:name=".SongOne" />
        <activity android:name=".LandingPageActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ModifyPageActivity" />
        <activity android:name=".ModifyActivity" />
        <activity android:name=".AllPostsActivity" />
        <activity android:name=".ReviewUserActivity" />
        <activity android:name=".ViewAllActivity" />
        <activity android:name=".CreatePostsActivity" />
        <activity android:name=".YourPostActivity" />
        <activity android:name=".WriteCommentActivity" />
    </application>

</manifest>